<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- namespace
		현재.xml의 쿼리를 호출할 Mapper Class의 경로와 클래스 명으로 해야함
 -->

<mapper namespace = "com.project.blog.mapper.BlogMapper">
	<insert id="insertBlog" parameterType="com.project.blog.domain.BlogDto">
		insert into blog (b_title, b_author, b_content, b_show, b_search, b_cate) values(#{b_title}, #{b_author}, #{b_content}, #{b_show}, #{b_search}, #{b_cate});
	</insert>

	<select id="selectBlog" resultType="com.project.blog.domain.BlogDto">
		select (b_id, b_title, b_author, b_content, b_show, b_search, b_cate, b_date)
		from blog
	</select>

</mapper>