<!doctype html>
<html lang="ko"
		  xmlns="http://www.w3.org/1999/xhtml"
		  xmlns:th="http://www.thymeleaf.org"
		  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		  layout:decorate="~{layout/d_layout}">
<th:block layout:fragment="content">
<table>
  <thead>
  <tr>
  	<th><input type="checkbox" name="b_check" onclick='selectAll(this)' value="selectall"/></th>
    <th>번호</th>
    <th>제목</th>
    <th>작성자</th>
    <th>작성일</th>
  </tr>
  </thead>
  <tr height="1" bgcolor="#dddddd"><td colspan="5"></td></tr>
<tbody>
	<tr th:each="blog : ${blogList}">
		<td><input type="checkbox" name="b_check" th:value="${blog.b_id}"></td>
    	<td><input type="hidden" th:value="${blog.b_id}" th:text="1"/></td>
    	<td><a th:text="${blog.b_title}" th:href='@{/detail/blog/(b_id=${blog.b_id})}'></a></td>
    	<td><span th:text="${blog.b_author}"></span></td>
    	<td><span th:text="${blog.b_date}"></span></td>
    	<tr height="1" bgcolor="#dddddd"><td colspan="5"></td></tr>
  </tbody>
</table>

<button th:onclick="|location.href='@{/blogForm}'|"> 등록 </button>

<button onclick="selectDelete()">선택삭제</button>


<script type="text/javascript">

	//전체선택
	function selectAll(selectAll){
		const checkboxes = document.querySelectorAll('input[type="checkbox"]');

		checkboxes.forEach((checkbox)=>{
			checkbox.checked = selectAll.checked
		})
	}

	//선택삭제
	function selectDelete(){
		var checkBoxArr=[];

		$("input[type=checkbox]:checked").each(function(){
				checkBoxArr.push($(this).val());
				console.log(checkBoxArr);

		})

		$.ajax({
			type:"POST",
			url:""
		})
	}


</script>

</th:block>



</html>
