<!doctype html>
<html lang="ko"
		  xmlns="http://www.w3.org/1999/xhtml"
		  xmlns:th="http://www.thymeleaf.org"
		  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		  layout:decorate="~{layout/d_layout}">

<th:block layout:fragment="content">
<script type="text/javascript">

	$(document).ready(function(){
		//라디오버튼 세팅
		let radio =$('#radio_show').val(); //라디오버튼 value값이 이거랑 동일한거 바꾸기

		let check = $('#check_show').val().split(',');
		console.log(check);

		$("input[type=radio]").each(function(){
			if(radio == $(this).val()){
				console.log($(this).val());
				$(this).attr("checked",true);
			}
		})

		$("input[type=checkbox]").each(function(){
			if (check.indexOf($(this).val())!= -1){
				$(this).prop("checked",true);
			}
		})
	})

		//수정버튼 클릭시 null 체크
		function modify(){

		let blogForm = document.blogForm;
		let b_title = blogForm.b_title.value;
		let b_author = blogForm.b_author.value;
		let b_content = blogForm.b_content.value;
		let b_check;
		let b_search;
		let b_cateCheck;

		if($("input[type=radio]:checked").length == 1){
			b_check=true;
		}else{
			b_check=false;
		}

		if($("input[type=checkbox]:checked").length ==0 ){
			b_search=false;
		}else{
			b_search=true;
		}

		let b_cate = $("#b_cate option:selected").val();
		if(b_cate == "select"){
			b_cateCheck = false;
		}else{
			b_cateCheck = true;
		}

		//전체form 체크해서 결과
		if(!b_title ||!b_author||!b_content){
			alert("제목, 작성자, 내용을 입력해주세요");
		}else if(b_check!=true){
			alert("비공개 여부를 선택해주세요");
		}else if(b_search!=true){
			alert("검색노출을 선택해주세요");
		}else if(b_cateCheck!=true){
			alert("카테고리를 선택해주세요");
		}
		else{
			blogForm.submit();
		}
		}
</script>


<body>
<form name="blogForm" action="/update/blog"  th:object="${BlogDto}" method="post" enctype="multipart/form-data">
	<input type="hidden" id="currentPage" name="currentPage" th:value="${currentPage}"/>
	<input type="hidden" id="b_id" name="b_id" th:value="${blogDetail.b_id}"/>
	   <table>
	     <tr>
      <td>&nbsp;</td>
      <td align="center" colspan="4">수정하기</td>
     </tr>
     <tr height="1" bgcolor="#dddddd"><td colspan="4"></td></tr>

	<!-- 제목 -->
     <tr>
      <td>&nbsp;</td>
      <td align="center">제목</td>
      <td><input name="b_title" id="b_title" size="80" maxlength="100" th:value="${blogDetail.b_title}"></td>
      <td>&nbsp;</td>
     </tr>
     <tr height="1" bgcolor="#dddddd"><td colspan="4"></td></tr>

	<!-- 작성자 -->
    <tr>
      <td>&nbsp;</td>
      <td align="center">작성자</td>
      <td><input name="b_author" id="b_author" size="80" maxlength="100" th:value="${blogDetail.b_author}"></td>
      <td>&nbsp;</td>
     </tr>
      <tr height="1" bgcolor="#dddddd"><td colspan="4"></td></tr>

	<!-- 비공개여부 -->
	<tr>
		<td>&nbsp;</td>
		<td align="center">비공개 여부</td>
			<td>
				<input type="hidden" th:value="${blogDetail.b_show}" id="radio_show">
				<input type="radio" name="b_show" id="b_show" value="0">나만보기
				<input type="radio" name="b_show" id="b_show" value="1">친구만 보기
				<input type="radio" name="b_show" id="b_show" value="2">전체공개
			</td>
		<td>&nbsp;</td>
	</tr>
	<tr height="1" bgcolor="#dddddd"><td colspan="5"></td></tr>

	<!-- 검색노출 -->
	<tr>
		<td>&nbsp;</td>
		<td align="center">검색노출</td>
		<td>
			<input type="hidden" th:value="${blogDetail.b_search}" id="check_show">
			<input type="checkbox" name="b_search" id="b_search" value="N" >Naver
			<input type="checkbox" name="b_search" id="b_search" value="C">Chrome
			<input type="checkbox" name="b_search" id="b_search" value="D">Daum
		</td>
		<td>&nbsp;</td>
	</tr>
	<tr height="1" bgcolor="#dddddd"><td colspan="4"></td></tr>


	<!-- 카테고리 -->
	<tr>
		<td>&nbsp;</td>
		<td align="center">카테고리</td>
		<td>
			<select name="b_cate" id="b_cate">
				<option value="select">==카테고리 선택==</option>
				<option value="trip" th:selected="${blogDetail.b_cate} =='trip'">여행</option>
				<option value="diary" th:selected="${blogDetail.b_cate} =='diary'">다이어리</option>
				<option value="review" th:selected="${blogDetail.b_cate} =='review'">리뷰</option>
				<option value="study" th:selected="${blogDetail.b_cate} =='study'">공부</option>
			</select>
		</td>
		<td>&nbsp;</td>
	</tr>
	<tr height="1" bgcolor="#dddddd"><td colspan="4"></td></tr>

	<!-- 내용 -->
     <tr>
      <td>&nbsp;</td>
      <td align="center">내용</td>
      <td><textarea name="b_content" cols="80" rows="13" th:value="${blogDetail.b_content}" th:text="${blogDetail.b_content}"></textarea></td>
      <td>&nbsp;</td>
     </tr>
     <tr height="4" bgcolor="#dddddd"><td colspan="4"></td></tr>
     <tr align="center">
      	<td>&nbsp;</td>
      	<td colspan="2">
	 <input type="button" onclick="modify()" value="수정완료">
      	<td>&nbsp;</td>
     </tr>
    </table>
</form>
<a th:href="@{/show/blogList(currentPage=${currentPage})}"> <button>목록</button></a>
<a th:href="@{/detail/blog/(b_id=${blogDetail.b_id},currentPage=${currentPage})}"><button>상세보기</button></a>
</th:block>
</body>
</html>









