<!doctype html>
<html lang="ko"
		  xmlns="http://www.w3.org/1999/xhtml"
		  xmlns:th="http://www.thymeleaf.org"
		  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		  layout:decorate="~{layout/d_layout}">

<th:block layout:fragment="content">
<body>
<form name="blogForm" action="insert/blog" th:object="${BlogDto}" method="post" enctype="multipart/form-data">
	   <table>
	     <tr>
      <td>&nbsp;</td>
      <td align="center" colspan="4">글쓰기</td>
     </tr>
     <tr height="1" bgcolor="#dddddd"><td colspan="4"></td></tr>


	<!-- 제목 -->
     <tr>
      <td>&nbsp;</td>
      <td align="center">제목</td>
      <td><input name="b_title" id="b_title" size="80" maxlength="100"></td>
      <td>&nbsp;</td>
     </tr>
     <tr height="1" bgcolor="#dddddd"><td colspan="4"></td></tr>

	<!-- 작성자 -->
    <tr>
      <td>&nbsp;</td>
      <td align="center">작성자</td>
      <td><input name="b_author" id="b_author" size="80" maxlength="100"></td>
      <td>&nbsp;</td>
     </tr>
      <tr height="1" bgcolor="#dddddd"><td colspan="4"></td></tr>

	<!-- 비공개여부 -->
	<tr>
		<td>&nbsp;</td>
		<td align="center">비공개 여부</td>
			<td>
				<input type="radio" name="b_show" id="b_show" value="0">나만보기
				<input type="radio" name="b_show" id="b_show" value="1">친구만 보기
				<input type="radio" name="b_show" id="b_show" value="2">전체공개
			</td>
		<td>&nbsp;</td>
	</tr>
	<tr height="1" bgcolor="#dddddd"><td colspan="5"></td></tr>

	<!-- 검색노출 -->
	<tr>
		<td>&nbsp;</td>
		<td align="center">검색노출</td>
		<td>
			<input type="checkbox" name="b_search" id="b_search" value="N">Naver
			<input type="checkbox" name="b_search" id="b_search" value="C">Chrome
			<input type="checkbox" name="b_search" id="b_search" value="D">Daum
		</td>
		<td>&nbsp;</td>
	</tr>
	<tr height="1" bgcolor="#dddddd"><td colspan="4"></td></tr>


	<!-- 카테고리 -->
	<tr>
		<td>&nbsp;</td>
		<td align="center">카테고리</td>
		<td>
			<select name="b_cate" id="b_cate">
				<option>==카테고리 선택==</option>
				<option value="trip">여행</option>
				<option value="diary">다이어리</option>
				<option value="review">리뷰</option>
				<option value="study">공부</option>
			</select>
		</td>
		<td>&nbsp;</td>
	</tr>
	<tr height="1" bgcolor="#dddddd"><td colspan="4"></td></tr>

	<!-- 내용 -->
     <tr>
      <td>&nbsp;</td>
      <td align="center">내용</td>
      <td><textarea name="b_content" cols="80" rows="13"></textarea></td>
      <td>&nbsp;</td>
     </tr>
     <tr height="4" bgcolor="#dddddd"><td colspan="4"></td></tr>
     <tr align="center">
      	<td>&nbsp;</td>
      	<td colspan="2">
      		<button type="button" id="regist" >등록</button>
      		<button type="submit" >취소</button>
      	<td>&nbsp;</td>
     </tr>
    </table>
</form>

</th:block>

<script>

</script>

</body>

</html>









