<!doctype html>
<html lang="ko"
		  xmlns="http://www.w3.org/1999/xhtml"
		  xmlns:th="http://www.thymeleaf.org"
		  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		  layout:decorate="~{layout/d_layout}">
<th:block layout:fragment="content">

<script type="text/javascript">


	//체크박스 전체선택
	function selectAll(selectAll){
		const checkboxes = document.querySelectorAll('input[type="checkbox"]');

		checkboxes.forEach((checkbox)=>{
			checkbox.checked = selectAll.checked
		})
	}

	//선택삭제
	function selectDelete(){
		var checkBoxArr=[];

		$("input[type=checkbox]:checked").each(function(){
				checkBoxArr.push($(this).val());
				console.log(checkBoxArr);
		})

		$.ajax({
			type:"post",
			url:"/select/delete",
			data:{
				checkBoxArr : checkBoxArr
			},
			success : function(result){
				alert("취소되었습니다");
				location.reload();
			},
			error:function(xhr,status, error){
				alert(error);
			}
		})
	}


	function getSearchList(){
		alert("검색");
	}

</script>
<div id="blogTable">
<h4>총 게시물 수: <a th:text="${totalCnt}"></a></h4>

<form id="searchForm">
	<select>
	<!-- 제목+작성자+내용 -->
	<option value="all">전체</option>
	<option value="title">제목</option>
	<option value="author">작성자</option>
	<option value="content">내용</option>
</select>
<input type="text" name="searchText" id="searchText">
<button onclick="getSearchList()">검색</button>
</form>



<table>
  <thead>
  <tr>
  	<th><input type="checkbox" name="b_check" onclick='selectAll(this)' value="selectall"/></th>
    <th>번호</th>
    <th>제목</th>
    <th>작성자</th>
    <th>작성일</th>
    <th>수정일</th>
  </tr>
  </thead>
  <tr height="1" bgcolor="#dddddd"><td colspan="6"></td></tr>

<tbody>
	<tr th:each="blog: ${blogPage?.content}">
		<td><input type="checkbox" name="b_check" th:value="${blog.b_id}"></td>
    	<td><span th:text="${blog.no}"></span></td>
    	<td><a th:text="${blog.b_title}" th:href='@{/detail/blog/(b_id=${blog.b_id}, page=${currentPage})}'></a></td>
    	<td><span th:text="${blog.b_author}"></span></td>
    	<td><span th:text="${blog.b_date}"></span></td>
    	<td><span th:text="${blog.b_modDate}"></span></td>
    	<tr height="1" bgcolor="#dddddd"><td colspan="6"></td></tr>
  </tbody>
</table>

</div>

<div th:if="${blogPage.totalPages > 0}" class="pagination"
    th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/show/blogList(size=${blogPage.size}, page=${pageNumber})}"
        th:text=${pageNumber}
        th:class="${pageNumber==blogPage.number + 1} ? active"></a>
</div>

<button th:onclick="|location.href='@{/blogForm}'|"> 등록 </button>
<button onclick="selectDelete()">선택삭제</button>
</th:block>
</html>
