<!doctype html>
<html lang="ko"
		  xmlns="http://www.w3.org/1999/xhtml"
		  xmlns:th="http://www.thymeleaf.org"
		  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		  layout:decorate="~{layout/d_layout}">

<th:block layout:fragment="content">
<table>
  <thead>
  <tr>
    <th>번호</th>
    <th>제목</th>
    <th>작성자</th>
    <th>작성일</th>
  </tr>
  </thead>

<!--   <tbody>
  <tr th:each="list : ${memberList}">
    <td><span th:text="${list.mb_id}"></span></td>
    <td><span th:text="${list.mb_pw}"></span></td>
    <td><span th:text="${list.address}"></span></td>
    <td><span th:text="${list.mb_tell}"></span></td>
  </tr>
  <tr height="1" bgcolor="#dddddd"><td colspan="4"></td></tr>
  </tbody> -->
</table>
</th:block>

</html>