<!doctype html>
<html lang="ko"
		  xmlns="http://www.w3.org/1999/xhtml"
		  xmlns:th="http://www.thymeleaf.org"
		  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		  layout:decorate="~{layout/default}">
<head>
  <title>보니</title>
</head>
<body>

<th:block layout:fragment="content">
        <h2>Hello</h2>
		<h2 th:text="${hi}"> </h2>

<table>
  <thead>
  <tr>
    <th>아이디</th>
    <th>비번</th>
    <th>주소</th>
    <th>번호</th>
  </tr>
  </thead>

  <tbody>
  <tr th:each="list : ${memberList}">
    <td><span th:text="${list.mb_id}"></span></td>
    <td><span th:text="${list.mb_pw}"></span></td>
    <td><span th:text="${list.address}"></span></td>
    <td><span th:text="${list.mb_tell}"></span></td>
  </tr>
  </tbody>
</table>

<div>
	<form action="/test/insert" method="post">
		<div class="fomr-group">
			<label for="mb_id">아이디</label>
			<input type="text" id="mb_id" name="mb_id">
			<br>
			<label for="mb_pw">비밀번호</label>
			<input type="text" id="mb_pw" name="mb_pw">
			<br>
			<label for="address">주소</label>
			<input type="text" id="address" name="address">
			<br>
			<label for="mb_tell">전화번호</label>
			<input type="text" id="mb_tell" name="mb_tell">
		</div>
		<button type="submit" >등록</button>
	</form>
</div>


</th:block>




</body>
</html>