<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<th:block th:fragment ="headFragment">
		<head>
  			<meta charset="utf-8">
  			<meta name="viewport" content="width=device-width", initial-scale=1, shrink-to-filt="no">
  			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		  <title>Bonnie's Blog</title>
		</head>
		<body>
			<h2>Bonnie's Blog</h2>
		</body>
	</th:block>
</html>